ADMIN_API_KEY=
AMAZON_SP_API_KEY=
CRON_SECRET=
FLIPKART_API_KEY=
FROM_EMAIL=
MSG91_AUTH_KEY=
MSG91_ORDER_TEMPLATE_ID=
MSG91_SHIPMENT_TEMPLATE_ID=
MSG91_TEMPLATE_ID=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
OPENAI_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RESEND_API_KEY=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_WEBHOOK_SECRET=
SUPABASE_SERVICE_ROLE_KEY=